Repository avast/retdec, pull requests merged in 2018-06, with the labels that each got.

#320 Use FilesystemPath::exists() instead of fileExists() (#317)
  include/retdec/demangler/demtools.h
  include/retdec/utils/file_io.h
  src/demangler/CMakeLists.txt
  src/demangler/demtools.cpp
  src/demangler/gparser.cpp
  src/utils/file_io.cpp
Labels: C-demangler, enhancement

#328 Fix comparison of vtables and comparison of vtable items.
  src/config/vtables.cpp
Labels: C-config, bug

#331 Fix possible memory leak in MachOFormat::symtabCommand() method.
  src/fileformat/file_format/macho/macho_format.cpp
Labels: C-fileformat, bug

#332 Improve copying of PE section names in unpacker to suppress GCC 8 warning (#325)
  src/unpackertool/plugins/upx/pe/pe_upx_stub.cpp
Labels: C-unpacker, enhancement

#336 Bin2llvmir improvements
  src/bin2llvmir/optimizations/globals/global_to_local_and_dead_global_assign.cpp
  src/bin2llvmir/optimizations/idioms/idioms.cpp
  src/bin2llvmir/optimizations/idioms/idioms_gcc.cpp
  src/bin2llvmir/optimizations/param_return/param_return.cpp
  src/bin2llvmir/optimizations/syscalls/arm.cpp
  src/bin2llvmir/optimizations/syscalls/mips.cpp
  src/bin2llvmir/optimizations/unreachable_funcs/unreachable_funcs.cpp
  src/bin2llvmir/utils/ir_modifier.cpp
Labels: C-bin2llvmir, enhancement
