Repository avast/retdec, pull requests merged in 2018-05, with the labels that each got.

#294 Disable forced reconfiguration of LLVM to speed up build and installation
  deps/llvm/CMakeLists.txt
Labels: C-build-system, P-build, enhancement

#281 Corruption check is complete
  deps/pelib/CMakeLists.txt
  include/retdec/fileformat/file_format/file_format.h
  include/retdec/fileformat/file_format/pe/pe_format.h
  include/retdec/fileformat/file_format/pe/pe_template.h
  include/retdec/loader/loader/image.h
  include/retdec/utils/conversion.h
  src/fileformat/file_format/file_format.cpp
  src/fileformat/file_format/pe/pe_format.cpp
  src/fileinfo/file_detector/file_detector.cpp
  src/fileinfo/file_information/file_information.cpp
  src/fileinfo/file_information/file_information.h
  src/fileinfo/file_information/file_information_types/loader_info.cpp
  src/fileinfo/file_information/file_information_types/loader_info.h
  src/fileinfo/file_presentation/getters/simple_getter/basic_plain_getter.cpp
  src/fileinfo/file_presentation/json_presentation.cpp
  src/fileinfo/file_presentation/json_presentation.h
  src/loader/loader/image.cpp
Labels: C-fileinfo, new-feature

#297 Updated PELIB commit hash
  deps/pelib/CMakeLists.txt
Labels: C-fileformat, C-pelib, bug

#300 OpenSSL build on ARM architecture
  CHANGELOG.md
  deps/openssl/CMakeLists.txt
Labels: C-build-system, enhancement

#308 simplifies docker container usage
  README.md
Labels: C-docs, enhancement

#310 Do not remove the input file when --cleanup is used together with --mode raw (#309)
  scripts/retdec-decompiler.sh
Labels: C-scripts, P-run, bug

#312 Add support for limiting the overall memory of our unpacker (#290)
  scripts/retdec-decompiler.sh
  scripts/retdec-unpacker.sh
  src/unpackertool/unpacker.cpp
Labels: C-unpacker, new-feature
