Repository avast/retdec, pull requests merged in 2019-04, with the labels that each got.

#543 fileformat: Hashes of certificates changed to lowercase
  src/fileformat/types/certificate_table/certificate.cpp
Labels: C-fileformat, P-output, enhancement

#542 Parallelize compilation of YARA rules during installation (#540)
  support/install-yara.py
Labels: C-build-system, P-build, enhancement

#541 Fix generation of a log file when calling `retdec-decompiler.py --generate-log`
  scripts/retdec-decompiler.py
Labels: C-scripts, bug

#559 Don't reinstall packages on Arch Linux [ci skip]
  README.md
Labels: C-docs, enhancement
