Repository avast/retdec, pull requests merged in 2019-06, with the labels that each got.

#577 ELF obj files: relocations and imported functions
  include/retdec/bin2llvmir/optimizations/decoder/decoder.h
  include/retdec/loader/loader/elf/elf_image.h
  src/bin2llvmir/optimizations/decoder/decoder_init.cpp
  src/debugformat/dwarf.cpp
  src/loader/loader/elf/elf_image.cpp
Labels: T-format-elf, enhancement

#588 make flag clarification
  README.md
Labels: C-docs, enhancement

#596 Fixed reading of version info which has non-matching length of struct and strings
  src/fileformat/file_format/pe/pe_format.cpp
  src/fileformat/types/resource_table/resource_table.cpp
Labels: C-fileformat, T-format-pe, bug

#598 BSD (in general) build fixes.
  deps/llvm/CMakeLists.txt
Labels: O-bsd, P-build, bug
