Repository avast/retdec, pull requests merged in 2019-02, with the labels that each got.

#489 DeadLocalAssign repeatedly performs external variable test
  src/llvmir2hll/optimizer/optimizers/dead_local_assign_optimizer.cpp
Labels: C-llvmir2hll, enhancement

#484 Added option -l --list to retdec-bin2pat.
  CHANGELOG.md
  scripts/retdec-signature-from-library-creator.py
  src/bin2pat/bin2pat.cpp
Labels: C-bin2pat, C-scripts, bug

#492 Remove more than half the stack usage of CFG traversal
  src/llvmir2hll/graphs/cfg/cfg_traversal.cpp
Labels: C-llvmir2hll, enhancement

#491 Fixed FilesystemPath::isFile return value.
  CHANGELOG.md
  src/utils/filesystem_path.cpp
Labels: C-utils, bug

#499 Change SCC's to be FuncVectorSet instead of FuncSetSet.
  include/retdec/llvmir2hll/obtainer/call_info_obtainer.h
  src/llvmir2hll/obtainer/call_info_obtainer.cpp
Labels: C-llvmir2hll, T-nondeterminism, enhancement

#506 Show doxygen.log contents after doxygen documentation is generated
  doc/doxygen/CMakeLists.txt
  doc/doxygen/show_doxygen_log.cmake
Labels: C-docs, P-build, enhancement

#511 TypeRef table reconstruction SEGFAULT fix
  src/fileformat/types/dotnet_types/dotnet_type_reconstructor.cpp
Labels: C-fileinfo, T-format-pe, T-lang-dotnet, bug
