Repository avast/retdec, pull requests merged in 2019-07, with the labels that each got.

#570 Anomalies scanner
  include/retdec/fileformat/file_format/file_format.h
  include/retdec/fileformat/file_format/pe/pe_format.h
  include/retdec/fileformat/file_format/pe/pe_format_parser/pe_format_parser.h
  include/retdec/fileformat/file_format/pe/pe_format_parser/pe_format_parser32.h
  include/retdec/fileformat/file_format/pe/pe_format_parser/pe_format_parser64.h
  include/retdec/fileformat/file_format/pe/pe_template.h
  src/fileformat/file_format/coff/coff_format.cpp
  src/fileformat/file_format/file_format.cpp
  src/fileformat/file_format/pe/pe_format.cpp
  src/fileformat/file_format/pe/pe_format_parser/pe_format_parser32.cpp
  src/fileformat/file_format/pe/pe_format_parser/pe_format_parser64.cpp
  src/fileinfo/CMakeLists.txt
  src/fileinfo/file_detector/file_detector.cpp
  src/fileinfo/file_detector/file_detector.h
  src/fileinfo/file_information/file_information.cpp
  src/fileinfo/file_information/file_information.h
  src/fileinfo/file_presentation/getters/iterative_getter/iterative_distribution_getter/anomalies_plain_getter.cpp
  src/fileinfo/file_presentation/getters/iterative_getter/iterative_distribution_getter/anomalies_plain_getter.h
  src/fileinfo/file_presentation/getters/iterative_getter/iterative_subtitle_getter/anomalies_json_getter.cpp
  src/fileinfo/file_presentation/getters/iterative_getter/iterative_subtitle_getter/anomalies_json_getter.h
  src/fileinfo/file_presentation/getters/json_getters.h
  src/fileinfo/file_presentation/getters/plain_getters.h
  src/fileinfo/file_presentation/json_presentation.cpp
  src/fileinfo/file_presentation/plain_presentation.cpp
Labels: C-fileformat, C-fileinfo, T-format-pe, new-feature

#600 Detection of StarForce, SecuROM and SafeDisc
  include/retdec/cpdetect/compiler_detector/heuristics/pe_heuristics.h
  include/retdec/fileformat/file_format/pe/pe_format.h
  include/retdec/fileformat/file_format/pe/pe_format_parser/pe_format_parser.h
  include/retdec/fileformat/file_format/pe/pe_format_parser/pe_format_parser32.h
  include/retdec/fileformat/file_format/pe/pe_format_parser/pe_format_parser64.h
  include/retdec/fileformat/file_format/pe/pe_template.h
  src/cpdetect/compiler_detector/heuristics/pe_heuristics.cpp
  src/fileformat/file_format/pe/pe_format.cpp
  src/fileformat/file_format/pe/pe_format_parser/pe_format_parser32.cpp
  src/fileformat/file_format/pe/pe_format_parser/pe_format_parser64.cpp
Labels: C-cpdetect, C-fileformat, enhancement

#602 cmake: Replace uses of CMAKE_THREAD_LIBS_INIT with Threads::Threads
  deps/googletest/CMakeLists.txt
  deps/llvm/CMakeLists.txt
Labels: C-build-system, enhancement

#601 deps/openssl: bump version from 1.1.0f to 1.1.1c.
  deps/openssl/CMakeLists.txt
Labels: enhancement

#610 Temporary fix to fix debug build of fileinfo in TeamCity with CMake 3.11.0
  src/fileformat/CMakeLists.txt
Labels: C-build-system, P-build, bug

#611 deps/yaracpp: update reference to yaracpp version that uses xcrun.
  CHANGELOG.md
  deps/yaracpp/CMakeLists.txt
Labels: C-build-system, O-macos, P-build, bug

#607 Packer Detection: Added more packers
  include/retdec/cpdetect/compiler_detector/heuristics/pe_heuristics.h
  include/retdec/cpdetect/cptypes.h
  src/cpdetect/compiler_detector/compiler_detector.cpp
  src/cpdetect/compiler_detector/heuristics/pe_heuristics.cpp
  src/cpdetect/cptypes.cpp
Labels: C-cpdetect, enhancement

#606 Make RetDec compilable via MSYS2 on Windows
  deps/libdwarf/CMakeLists.txt
  deps/llvm/CMakeLists.txt
  deps/yaracpp/CMakeLists.txt
  src/utils/CMakeLists.txt
Labels: C-build-system, O-windows, enhancement

#615 Added detection of RLPack packer
  include/retdec/cpdetect/compiler_detector/heuristics/pe_heuristics.h
  src/cpdetect/compiler_detector/heuristics/pe_heuristics.cpp
Labels: C-cpdetect, enhancement

#619 TODO removed, created an issue
  src/cpdetect/compiler_detector/heuristics/pe_heuristics.cpp
Labels: C-cpdetect, enhancement
