Repository avast/retdec, pull requests merged in 2019-03, with the labels that each got.

#450 Remove a recursive function call with a iterative function
  .travis.yml
  scripts/retdec-config.py
  src/bin2llvmir/optimizations/x87_fpu/x87_fpu.cpp
Labels: C-bin2llvmir, enhancement

#495 Rewrite recursive cfg traversal to non-recursive
  include/retdec/llvmir2hll/graphs/cfg/cfg_traversal.h
  src/llvmir2hll/graphs/cfg/cfg_traversal.cpp
Labels: C-llvmir2hll, enhancement

#527 Update to YARA 3.9
  deps/yaracpp/CMakeLists.txt
Labels: C-yaracpp, enhancement

#533 Aarch64 decompilation
  deps/capstone/CMakeLists.txt
  include/retdec/bin2llvmir/optimizations/decoder/decoder.h
  include/retdec/bin2llvmir/optimizations/syscalls/syscalls.h
  include/retdec/capstone2llvmir/arm64/arm64.h
  include/retdec/capstone2llvmir/arm64/arm64_defs.h
  include/retdec/capstone2llvmir/capstone2llvmir.h
  include/retdec/config/architecture.h
  scripts/retdec-decompiler.py
  src/bin2llvmir/CMakeLists.txt
  src/bin2llvmir/optimizations/decoder/arm64.cpp
  src/bin2llvmir/optimizations/decoder/decoder.cpp
  src/bin2llvmir/optimizations/decoder/decoder_init.cpp
  src/bin2llvmir/optimizations/decoder/ir_modifications.cpp
  src/bin2llvmir/optimizations/decoder/jump_targets.cpp
  src/bin2llvmir/optimizations/idioms_libgcc/idioms_libgcc.cpp
  src/bin2llvmir/optimizations/main_detection/main_detection.cpp
  src/bin2llvmir/optimizations/syscalls/arm64.cpp
  src/bin2llvmir/optimizations/syscalls/syscalls.cpp
  src/bin2llvmir/providers/abi/abi.cpp
  src/bin2llvmir/providers/abi/arm64.cpp
  src/bin2llvmir/providers/fileimage.cpp
  src/bin2llvmir/providers/lti.cpp
  src/bin2llvmir/providers/names.cpp
  src/bin2llvmir/utils/capstone.cpp
  src/bin2llvmir/utils/ir_modifier.cpp
  src/capstone2llvmir/CMakeLists.txt
  src/capstone2llvmir/arm64/arm64.cpp
  src/capstone2llvmir/arm64/arm64_impl.h
  src/capstone2llvmir/arm64/arm64_init.cpp
  src/capstone2llvmir/capstone2llvmir.cpp
  src/capstone2llvmir/capstone2llvmir_impl.cpp
  src/capstone2llvmirtool/capstone2llvmir.cpp
  src/config/architecture.cpp
  src/fileinfo/file_detector/file_detector.cpp
  src/llvmir-emul/llvmir_emul.cpp
  src/stacofin/stacofin.cpp
  tests/bin2llvmir/optimizations/param_return/param_return_tests.cpp
  tests/capstone2llvmir/CMakeLists.txt
  tests/capstone2llvmir/arm64_tests.cpp
  tests/config/architecture_tests.cpp
Labels: T-arch-arm64, new-feature
