Repository avast/retdec, pull requests merged in 2020-05, with the labels that each got.

#759 fix: mislabeled scripts and writing strings versus bytes
  scripts/retdec-archive-decompiler.py
  scripts/retdec-config.py
Labels: C-scripts, bug

#761 The detection of BAT to PE-EXE script-compilers.
  support/yara_patterns/tools/pe/x64/compilers.yara
  support/yara_patterns/tools/pe/x86/compilers.yara
Labels: C-cpdetect, enhancement

#764 The improved detection of BeRo EXE Packer.
  support/yara_patterns/tools/pe/x86/packers.yara
Labels: C-cpdetect, enhancement

#763 deps/yara: force rebuild if config changed, fix #760
  deps/yara/CMakeLists.txt
Labels: C-build-system, C-yara, enhancement

#767 Lz more corruptions
  include/retdec/pelib/PeFile.h
  include/retdec/pelib/PeLibAux.h
  include/retdec/pelib/RelocationsDirectory.h
  src/fileformat/file_format/pe/pe_format.cpp
  src/fileinfo/file_wrapper/pe/pe_wrapper.cpp
  src/pelib/PeLibAux.cpp
  src/pelib/RelocationsDirectory.cpp
  src/pelib/ResourceDirectory.cpp
Labels: C-pelib, enhancement
