Repository avast/retdec, pull requests merged in 2020-07, with the labels that each got.

#804 Improvement to the detection of multiple packers.
  src/cpdetect/heuristics/pe_heuristics.cpp
  support/yara_patterns/tools/pe/x86/installers.yara
  support/yara_patterns/tools/pe/x86/packers.yara
Labels: C-cpdetect, enhancement

#815 Improve MoleBox packer detection.
  support/yara_patterns/tools/pe/x86/packers.yara
Labels: enhancement

#818 Lz high memory usage
  include/retdec/pelib/DelayImportDirectory.h
  src/pelib/BoundImportDirectory.cpp
  src/pelib/ImageLoader.cpp
  src/pelib/ResourceDirectory.cpp
Labels: C-pelib, T-memory, bug

#822 * Check for invalid IAT directory
  include/retdec/pelib/ImportDirectory.h
  include/retdec/pelib/PeLibAux.h
  src/pelib/BoundImportDirectory.cpp
  src/pelib/IatDirectory.cpp
  src/pelib/RelocationsDirectory.cpp
Labels: C-fileinfo, C-pelib, bug

#825 Fixed high memory usage in debug directory (#824)
  src/pelib/DebugDirectory.cpp
Labels: C-fileinfo, C-pelib, bug

#827 Fix crash on samples having corrupted PE header (#821)
  src/cpdetect/heuristics/pe_heuristics.cpp
Labels: C-cpdetect, bug

#831 Small improvements to detections of binary tools.
  src/cpdetect/heuristics/pe_heuristics.cpp
  support/yara_patterns/tools/pe/x86/installers.yara
Labels: C-cpdetect, enhancement
